.facts {
  padding: 151px 0 111px;
  display: grid;
  grid-template: auto / 1fr minmax(auto, $desktop-content-width) 1fr;

  @media (max-width: $tablet-max-width) {
    padding: 70px 93px 33px;
  }

  @media (max-width: $mobile-max-width) {
    padding: 70px 0 43px;
  }
}

.facts__block {
  grid-column: 2 / 3;
}

.facts__block h2 {
  @include off-margin;
  margin-bottom: 50px;
  text-align: center;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 30px;
  }
}

.facts__list {
  @include off-list;
  margin: 0 -20px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;

  @media (max-width: $tablet-max-width) {
    @include off-margin;
  }
}

.facts__item {
  margin-bottom: 40px;
  padding: 0 20px;
  flex: 0 0 25%;

  @media (max-width: $tablet-max-width) {
    padding: 0 16px;
    flex: 0 0 50%;
  }

  @media (max-width: $mobile-max-width) {
    flex: 0 0 100%;
    padding: 0 20px;
  }
}

.facts__item h3 {
  @include off-margin;
  margin-bottom: 15px;
  font-weight: 700;
  font-size: 28px;
  line-height: 38px;
  letter-spacing: -1.27px;
  color: $color-button;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    margin-bottom: 12px;
  }
}

.facts__item p {
  @include off-margin;
  font-weight: 400;
  font-size: 22px;
  line-height: 34px;
  letter-spacing: -0.5px;
  text-align: center;

  @media (max-width: $mobile-max-width) {
    font-size: 18px;
  }
}
