.video {
  display: grid;
  grid-template: 120px 1fr 103px / 1fr minmax(auto, $desktop-content-width) 1fr;

  @media (max-width: $tablet-max-width) {
    grid-template-rows: 70px 1fr 90px;
  }

  @media (max-width: $mobile-max-width) {
    grid-template-rows: 85px 1fr 54px;
  }
}

.video__background {
  background-color: $color-dark;
  grid-row: 1 / 3;
  grid-column: 1 / -1;
}

.video__block {
  grid-column: 2 / 3;
  grid-row: 2 / -1;
}

.video__content {
  margin: 0 auto;
  text-align: center;
  max-width: 410px;

  @media (max-width: $tablet-max-width) {
    max-width: 440px;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 290px;
  }
}

.video__content h2 {
  @include off-margin;
  margin-bottom: 20px;
  color: $color-white;

  @media (max-width: $tablet-max-width) {
    line-height: 30px;
  }
}

.video__content p {
  @include off-margin;
  margin-bottom: 56px;
  color: $color-white-opacity-70-percent;
  font-weight: 300;
  font-size: 16px;
  line-height: 28px;

  @media (max-width: $tablet-max-width) {
    margin-bottom: 40px;
  }

  @media (max-width: $mobile-max-width) {
    margin-bottom: 52px;
  }
}

.video__img {
  position: relative;
  max-width: 929px;

  @media (max-width: $tablet-max-width) {
    max-width: 503px;
  }

  @media (max-width: $mobile-max-width) {
    max-width: 288px;
  }
}

.page-footer__map img {
  height: 100%;
  object-fit: cover;
  object-position: 50% 50%;
}

.video__button {
  @include button;
  position: absolute;
  z-index: 10;
  left: 50%;
  transform: translate(-50%, -50%);
  top: 50%;
  width: 65px;
  height: 65px;
  background-color: $color-button;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  &:hover,
  &:focus {
    background-color: $color-button-hover-focus;
  }

  &:active {
    background-color: $color-grey;
  }

  @media (max-width: $tablet-max-width) {
    width: 90px;
    height: 90px;
  }

  @media (max-width: $mobile-max-width) {
    width: 65px;
    height: 65px;
  }
}
