// Variables

$color-white: #ffffff;
$color-white-opacity-70-percent: rgba(255, 255, 255, 0.7);
$color-white-opacity-80-percent: rgba(255, 255, 255, 0.8);
$color-dark: #131314;

$color-black: #000000;
$color-black-opacity-50-percent: rgba(0, 0, 0, 0.5);
$color-black-opacity-70-percent: rgba(0, 0, 0, 0.7);
$color-grey: #f6f7f9;

$color-background-header: #202020;

$color-navigation-background-mobile: #f6f6f6;
$color-navigation-text-mobile: #48494d;

$color-form-placeholder-50-percent: rgba(28, 28, 28, 0.5);
$color-form-input-hover-focus: #ff0000;
$color-form-input-border: #c9ccd4;

$color-button: #0ad9c6;
$color-button-hover-focus: #826628;

$color-basic-for-headers: #1f1f1f;

// Viewports

$desktop-width: 1440px;//???
$desktop-min-width: 1024px;//???
$desktop-content-width: 1166px;
$tablet-max-width: 1023px;
$tablet-width: 768px;
$mobile-max-width: 767px;
$mobile-width: 320px;

// Mixin

@mixin off-margin {
  margin: 0;
}

@mixin off-list {
  margin: 0;
  padding: 0;
  list-style-type: none;
}

@mixin button($color: $color-button) {
  padding: 0;
  border: none;
  background-color: $color;
  cursor: pointer;
}
